{% extends 'home.html' %}

{% block content %}

   
        <div class="about">
        <div class="Container">
            <div class="col col1">
              <h2> Our Vision</h2>
              <p>Develop a model of student scenario-based behaviors that influence our energy consumption with the aim of encouraging our university and its students to take climate action based on these findings.

            </p>
          </div>
          <div class="col col2 row">
              <image class="earth" src="../static/media/earth.svg"></image>
        </div>
      </div>
    </div>

    <div class="about2">
        <div class="Container">
            <div class="col col1">
                <image class="earth" src="../static/media/girl.svg"></image>
          </div>
          <div class="col col2 row">
            <h2> Our Motivation</h2>
            <p>Coming from seven different fields of study, we have always been motivated by the desire to act against climate change through our academic knowledge. By creating elecTUM, we were able to combine our different skills to inspire the university, which unites us all, to go one step further in the direction of reducing its carbon footprint. 



          </p>
        </div>
      </div>
    </div>

    <div class="about3">
        <div class="Container">
            <div class="col col1">
              <h2> Our Process</h2>
              <p>To help our university reduce its carbon footprint, we decided to investigate the energy consumption of lectures and based on that, develop suggestions on how to reduce such consumption. Being in the apex of online lectures, we chose to focus on the energy consumption of online lectures in comparison to those in presence. Since then, we developed a calculator, which takes into consideration several sources of energy consumption during lectures, such as the use of electronic devices or the lighting of the workspace. Parallel to that, we gathered publicly available and TUM-internal data on these parameters. Finally, we conducted a survey for TUM students to take their behavior into account when analyzing the average energy consumption during lectures at our university.

            </p>
            <div>
                <button>hi</button>
            </div>
          </div>
          <div class="col col2 row">
              <image class="earth" src="../static/media/laptop.svg"></image>
        </div>
        
      </div>
    </div>

{% endblock %}