{% extends 'home.html' %}

{% block content %}
<div id="calculate">
    <div class="Container2">
        <div class="Card2">
        <div class="col col1"  style="margin-bottom: -4rem;">
            <div class="title"><h1>elecCalc</h1></div>
            <div class="title" style="margin-top: -3rem; "><h2>lecturer mode</h2></div>
        
            <h3>You can now select the <span>basic parameters </span>for {{ university.university_name }} </h3>
        </div>

        <div class="col col2">
            
            <form action="calculator_option_selection" method="POST">
                {% csrf_token %}
            
                <p>Enter number of students attending lecture: </p><input class="input" type="number" name="num_stud" required value="100" min="2"><br><br>
                <p>Lecture duration (minutes):</p> <input class="input" type="number" name="time" required value="90" min="15" max="1440"><br><br>
                {% if faculty_list %}
                    <label for="facultys"><p>Choose a faculty:</p></label>
                    <select id="facultys" name="facultys" class="input">
                        {% for faculty in faculty_list %}
                            <option value={{ faculty.id }}>{{ faculty.faculty_name }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                {% else %}
                    <p>No faculties are available.</p><br><br>
                {% endif %}
                {% if lecture_hall_list %}
                    <label for="lecture_halls"><p>Choose a lecture hall:</p></label>
                    <select id="lecture_halls" name="lecture_halls" class="input">
                        {% for hall in lecture_hall_list %}
                            <option value={{ hall.id }}>{{ hall.hall_name }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                {% else %}
                    <p>No lecture halls are available.</p><br><br>
                {% endif %}
                {% if streaming_list %}
                    <label for="streaming"><p>Choose a streaming service:</p></label>
                    <select id="streaming" name="streaming" class="input">
                        {% for streaming in streaming_list %}
                            <option value={{ streaming.id }}>{{ streaming.streaming_name }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                {% else %}
                    <p>No streaming services are available.</p><br><br>
                {% endif %}
                {% if vod_list %}
                    <label for="vod"><p>Choose a Video-On-Demand service:</p></label>
                    <select id="vod" name="vod" class="input">
                        {% for vod in vod_list %}
                            <option value={{ vod.id }}>{{ vod.vod_name }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                {% else %}
                    <p>No VoD services are available.</p><br><br>
                {% endif %}
                <div class="Cinline">
                    <input class="back" type="button" value="Back" onclick="history.back()">
                    <input class="submit" type="submit" value="Next">
                </div>
                
            </form>
        </div>

    </div>


        
    </form>
    </div>
    </div>
</div>

</div>


{% endblock %}
