{% extends 'home.html' %}

{% block content %}
<div id="calculate">
        <div class="Container">
            <div class="Card">
            <div class="col col1">
               
                    <img class="mainimg" src="../static/media/ecalc/main_calc.png" />
            
                
                <div class="title"><h1>elecCalc</h1></div>
                <div class="title" style="margin-top: -3rem; "><h2>lecturer mode</h2></div>
            
                
            </div>

            <div class="col col2">
                <h2>Choose your University.</h2>
                <div class="sep">
                <form action="calculator_base_selection" method="POST">
                    {% csrf_token %}
                
                    {% if university_list %}
                        <label for="universitys"></label>
                        <select id="universitys" name="universitys" class="dropdownselect">
                            {% for university in university_list %}
                                <option value={{ university.id }}>{{ university.university_name }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                    {% else %}
                        <p>No universities are available.</p><br><br>
                    {% endif %}

                    <input class="submit" type="submit" value="Next">
                    <div class="startup">
                        <h4>*The calculator is currently still in the start-up phase, 
                        therefore only valid for the Technical University of Munich.
                        Further options will be available in the future.</h4>
                    </div>
            </div>

        </div>
    </div>

            
        </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}
