{% extends 'home.html' %}

{% block content %}

<div class="PContainer" id="german">
        <h1>Datenschutzerklärung</h1>
        <p>Nachfolgend informieren wir Sie über Art, Umfang und Zweck der Erhebung und Verwendung personenbezogener Daten. Diese Informationen können jederzeit von unserer Webseite abgerufen werden.</p>
        <h2>Allgemeine Informationen:</h2>
        <p><b>Name und Kontaktdaten des Verantwortlichen</b></p>
        <p>Junge Akademie</p>
        <p>Team elecTUM</p>        
        <p>Besucheradresse: Augustenstr. 46, 80333 München</p>      
        <p>Telefon: +49 89 289 22064</p>
        <p>Telefax: +49 89 289 22994</p>
        <p>E-Mail: climate(at)ja.tum.de</p>
        <p><b>Kontaktdaten des/der Datenschutzbeauftragten</b></p>
        <p>Der/Die Datenschutzbeauftragte der Technischen Universität München</p>
        <p>Postanschrift: Arcisstr. 21, 80333 München</p>
        <p>Telefon: 089/289-17052</p>
        <p>E-Mail: beauftragter(at)datenschutz.tum.de</p>
        <p><b>Zwecke und Rechtsgrundlagen für die Verarbeitung personenbezogener Daten</b></p>
        <p>Zweck der Verarbeitung ist die Erfüllung der uns vom Gesetzgeber zugewiesenen öffentlichen Aufgaben, insbesondere der Information der Öffentlichkeit.</p>
        <p>Die Rechtsgrundlage für die Verarbeitung Ihrer Daten ergibt sich, soweit in dieser Datenschutzerklärung nichts anderes angegeben ist, aus Art. 4 Abs. 1 des Bayerischen Datenschutzgesetzes (BayDSG) in Verbindung mit Art. 6 Abs. 1 UAbs. 1 Buchst. e) der Datenschutzgrundverordnung (DSGVO). Demnach ist es uns erlaubt, die zur Erfüllung einer uns obliegenden Aufgabe erforderlichen Daten zu verarbeiten.</p>
        <p><b>Empfänger von personenbezogenen Daten</b></p>
        <p>Beim Betrieb unserer Website erhalten verschiedene Datenempfänger Zugriff auf personenbezogene Daten.</p>
        <p>Unser Webserver wird durch das Leibniz-Rechenzentrum der Bayerischen Akademie der Wissenschaften (LRZ) betrieben. Die von Ihnen im Rahmen des Besuchs unseres Webauftritts übermittelten personenbezogenen Daten werden daher in unserem Auftrag durch das LRZ verarbeitet:</p>
        <p>Leibniz-Rechenzentrum (LRZ) der Bayerischen Akademie der Wissenschaften</p>
        <p>Boltzmannstraße 1</p>
        <p>D-85748 Garching bei München</p>
        <p>Telefon: +49 89 35831 8000</p>
        <p>Fax: +49 89 35831 9700 </p>
        <p>E-Mail: lrzpost(at)lrz.de  </p>
        <p>https://www.lrz.de</p>
        <p>Gegebenenfalls werden Ihre Daten an die zuständigen Aufsichts- und Rechnungsprüfungsbehörden zur Wahrnehmung der jeweiligen Kontrollrechte übermittelt.</p>
        <p>Zur Abwehr von Gefahren für die Sicherheit in der Informationstechnik können bei elektronischer Übermittlung Daten an das Landesamt für Sicherheit in der Informationstechnik weitergeleitet werden und dort auf Grundlage der Art. 12 ff. des Bayerischen E-Government-Gesetzes verarbeitet werden.</p>
        <p><b>Dauer der Speicherung der personenbezogenen Daten</b></p>
        <p>Ihre Daten werden nur so lange gespeichert, wie dies unter Beachtung gesetzlicher Aufbewahrungsfristen zur Aufgabenerfüllung erforderlich ist.</p>
        <p><b>Ihre Rechte</b></p>
        <p>Soweit wir von Ihnen personenbezogene Daten verarbeiten, stehen Ihnen als Betroffener nachfolgende Rechte zu:</p>
        <div>
        <ul>
            <p>●	Sie haben das Recht auf Auskunft über die zu Ihrer Person gespeicherten Daten (Art. 15 DSGVO).</p>
            <p>●	Sollten unrichtige personenbezogene Daten verarbeitet werden, steht Ihnen ein Recht auf Berichtigung zu (Art. 16 DSGVO).</p>
            <p>●	Liegen die gesetzlichen Voraussetzungen vor, so können Sie die Löschung oder Einschränkung der Verarbeitung verlangen (Art. 17 und 18 DSGVO).</p>
            <p>●	Wenn Sie in die Verarbeitung eingewilligt haben oder ein Vertrag zur Datenverarbeitung besteht und die Datenverarbeitung mithilfe automatisierter Verfahren durchgeführt wird, steht Ihnen gegebenenfalls ein Recht auf Datenübertragbarkeit zu (Art. 20 DSGVO).</p>
            <p>●	Falls Sie in die Verarbeitung eingewilligt haben und die Verarbeitung auf dieser Einwilligung beruht, können Sie die Einwilligung jederzeit für die Zukunft widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Datenverarbeitung wird durch diesen nicht berührt. Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Ihrer Daten Widerspruch einzulegen, wenn die Verarbeitung ausschließlich auf Grundlage des Art. 6 Abs. 1 Buchst. e) oder f) DSGVO erfolgt (Art. 21 Abs. 1 Satz 1 DSGVO).</p>
        </ul>
        </div>
        <p><b>Beschwerderecht bei der Aufsichtsbehörde</b></p>
        <p>Weiterhin besteht ein Beschwerderecht bei einer Aufsichtsbehörde. Für die Technische Universität München zuständig ist der Bayerische Landesbeauftragte für den Datenschutz. Diesen können Sie unter folgenden Kontaktdaten erreichen:</p>
        <p>Postanschrift: Postfach 22 12 19, 80502 München</p>
        <p>Adresse: Wagmüllerstraße 18, 80538 München</p>
        <p>Telefon: +49 89 212672-0</p>
        <p>Telefax: +49 89 212672-50</p>
        <p>E-Mail: poststelle(at)datenschutz-bayern.de</p>
        <p>https://www.datenschutz-bayern.de/</p>
        <p><b>Weitere Informationen</b></p>
        <p>Für nähere Informationen zur Verarbeitung Ihrer Daten und zu Ihren Rechten können Sie uns unter den oben genannten Kontaktdaten erreichen.</p>
        <h2>Informationen zum Internetauftritt:</h2>
        <p><b>Log-Files</b></p>
        <p>Wenn Sie diese oder andere Internetseiten aufrufen, übermitteln Sie über Ihren Internetbrowser Daten an unseren Webserver. Die folgenden Daten werden während einer laufenden Verbindung zur Kommunikation zwischen Ihrem Internetbrowser und unserem Webserver temporär in einer Logdatei aufgezeichnet:</p>
        <ul>
            <p>●	IP-Adresse des anfragenden Rechners</p>
            <p>●	Datum und Uhrzeit des Zugriffs</p>
            <p>●	Name, URL und übertragene Datenmenge der abgerufenen Datei</p>
            <p>●	Zugriffsstatus (angeforderte Datei übertragen, nicht gefunden etc.)</p>
            <p>●	Erkennungsdaten des verwendeten Browser- und Betriebssystems (sofern vom anfragenden Webbrowser übermittelt)</p>
        </ul>
        <p>Die Verarbeitung der Daten in dieser Logdatei geschieht wie folgt:</p>
        <ul>
            <p>●	Die Logeinträge werden kontinuierlich automatisch ausgewertet, um Angriffe auf die Webserver erkennen und entsprechend reagieren zu können.</p>
            <p>●	In Einzelfällen, d.h. bei gemeldeten Störungen, Fehlern und Sicherheitsvorfällen, erfolgt eine manuelle Analyse.</p>
            <p>●	Logeinträge, die älter als sieben Tage sind, werden durch Kürzung der IP-Adresse anonymisiert.</p>
            <p>●	Die anonymisierten Logs werden zur Erstellung von Zugriffsstatistiken verwendet. Die hierfür eingesetzte Software wird lokal vom LRZ betrieben.</p>
        </ul>
        <p>Die in den Logeinträgen enthaltenen IP-Adressen werden vom LRZ nicht mit anderen Datenbeständen zusammengeführt, so dass für das LRZ kein Rückschluss auf einzelne Personen möglich ist.</p>
        <p><b>Cookies und ähnliche Technologien</b></p>
        <p>Cookies sind kleine Textdateien, die auf Ihrem Computer oder mobilen Endgeräten gespeichert werden, wenn Sie unser Internetangebot besuchen. Uns fließen durch das Setzen der Cookies verschiedene Informationen zu.</p>
        <p>Ergänzend zu Cookies setzen manche Dienste sog. „Local Storage-Einträge“ ein. Ein Local Storage-Eintrag ist funktionell mit Cookies vergleichbar, der Unterschied besteht darin, dass beim Local Storage Informationen im Cache Ihres Browsers abgelegt werden. Soweit Dienste auf unserer Website den Local Storage nutzen, weisen wir in dieser Datenschutzerklärung ausdrücklich darauf hin.</p>
        <p>Darüber hinaus setzen manche Dienste auch sog. „Zählpixel“ ein.</p>
        <p><b>Essentielle Cookies</b></p>
        <p>Für den ordnungsgemäßen Betrieb unseres Internetauftritts und die ordnungsgemäße Anzeige der Inhalte sind bestimmte Cookies technisch erforderlich, um Ihnen unser Internetangebot überhaupt anzeigen zu können. Diese „essentiellen Cookies“ können nicht abgewählt werden, weil ohne sie unser Internetauftritt nicht angeboten werden kann. Einige Cookies sind “Session-Cookies.” Solche Cookies werden nach Ende Ihrer Browser-Sitzung von selbst gelöscht. </p>
        <h2>Informationen zu einzelnen Verarbeitungen:</h2>
        <p><b>Online-Formulare</b></p>  
        <p>Personenbezogene Daten, die Sie gegebenenfalls über Kontaktformulare, Anmeldeformulare und ähnliche Webseiten auf unseren Webservern an uns leiten werden nur mit Ihrem Einverständnis entgegengenommen und dienen ausschließlich dem in den Formularen genannten Zweck. Bitte beachten Sie die entsprechenden Hinweise auf den Formularen.</p> 
        <p>In allen Formularen werden nur die personenbezogenen Daten erhoben, die unbedingt erforderlich sind. Die darüberhinausgehenden Angaben Ihrerseits sind freiwillig. Üblicherweise werden die personenbezogenen Daten in einer Datenbank des Leibniz Rechenzentrums gespeichert und sind den jeweils zuständigen Mitarbeitern der TUM zugänglich. Ist der Zweck der Datenerhebung, die Daten auch anderen Mitgliedern der TUM zugänglich zu machen, so wird hierbei das Prinzip der Datensparsamkeit beachtet. Ihre Daten werden nicht an Dritte weiteregegeben, es sei denn, dies ist im Formular explizit angegeben.</p>
        <p>Ihre personenbezogen Daten werden nach Zweckerfüllung gelöscht, es sei denn Sie haben Ihre Einwilligung zu weiteren Kontaktpflege gegeben.</p>
        <p>Rechtsgrundlage ist Art. 6 Abs. 1 Buchst. a) DSGVO. Sie können jederzeit für die Zukunft Ihre Einwilligung widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Datenverarbeitung wird durch diesen nicht berührt. Hierzu wenden Sie sich bitte an it-support(at)tum.de. Ihre Daten werden dann unverzüglich gelöscht.</p>
    
    </div>

  {% endblock %}