{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css\styles.css" %}"> 
    <link rel="stylesheet" href="{% static "css\about.css" %}"> 
    <link rel="stylesheet" href="{% static "css\team.css" %}"> 
    <link rel="stylesheet" href="{% static "css\calculator.css" %}"> 
    <link rel="stylesheet" href="{% static "css\privacy.css" %}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<div>

      <div class="header">
        <div class="leftmenu">
          <div>
            <a href="/"><image src="../static/media/home/eleclogo.svg" class="item logo" ></image></a></div>
            <div><a class="item" href="calculator_home">elecCalc</a></div>
            <div><a class="item" href="about">about</a></div>
            <div><a class="item" href="team" >team</a></div>
        </div>
        <div>
          <button href="admin" onclick="location.href='admin';" class="login">log in</button>
          <button href="calculator_home" onclick="location.href='calculator_home';" class="calculate">calculate now</button>
        </div>
      </div> 
      <div class="sidebar">
        <div>
          <input type="checkbox" id="openSidebarMenu">
          <label for="openSidebarMenu" class="sidebarIconToggleH">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
            </label>
            <div id="sidebarMenu">
              <ul class="sidebarMenuInner">
                <li><a class="Ditem" href="calculator_home">elecCalc</a></li>
                <li><a class="Ditem" href="about">about</a></li>
                <li><a class="Ditem" href="team" >team</a></li>
                <li><a href="rechtshinweise">legal notice - german</a></li>
                <li><a href="legalnotice">legal notice - english</a></li>
                <li><a href="datenschutz">privacy policy - german</a></li>
                <li><a href="privacy">privacy policy - english</a></li>
              </ul>
            </div>
        </div>
        
        <div>
          <a href="/" style="margin-left: 1.5rem;"><image src="../static/media/home/eleclogo.svg" class="item logo" ></image></a></div>
        <div class="DropButtons">
          <input type="checkbox" id="openLoginMenu">
          <label for="openLoginMenu" class="sidebarIconToggle">
            <image src="../static/media/dropdown/Dlogin.svg"></image>
            </label>
            <div id="loginMenu">
              <ul class="loginMenuInner">
                <li><image src="../static/media/dropdown/login.svg" style="margin: 0px 20px -12px 0px;"></image><button href="admin" onclick="location.href='admin';" class="login" >log in</button></li>
                <li><image src="../static/media/dropdown/calc.svg" style="margin: 0px 20px -12px 0px;"></image></image><button href="calculator_home" onclick="location.href='calculator_home';" class="calculate">calculate now</button></li>
              </ul>
            </div>
        </div>
      </div>
    {% block content %}
       <main>
     
        <div class="Container">
          <h1 >Welcome to elecCalc.</h1>
          <h3>This calculator is an early prototype of our group project elecTUM of </h3>
          <h3>TUM:Junge Akademie. Learn more about our project through our website.</h3>
        </div>

        </main>

        <div class="Container">
          <div style=color:red><h2><b>DISCLAIMER: This website is only a prototype and still undergoing construction.</b></h2></div>
          <div class="sep"><h3>You will most likely encounter thinks which seem to not work properly and links that will lead to error messages.</h3></div>
          <div class="sep"><p>We are aware of most functionallity breaking bugs, but if you think you e.g. found an interesting edge case during the 
              calculation which we didn't think ouf, please let us know. The best way you can do so is by opening an issue over on our
              <a style=color:#2C7DA0 href="https://github.com/AlexHls/ElecCalc">GitHub</a>. This is also where you can help us by contributing to our source code!</div>
          </div>
          
        <div class="Container">
          <div class="col col1">
            <div><h2> Find out the most sustainable option for your lectures.</h2></div>
            <div class="sep"><h3><b>Calculate their energy consumption and take climate action.</b></h3></div>
            <div class="sep"><p>With our calculator, you can determine the most energy efficient option for your lectures. If you have any questions, do not hesitate to contact us at electum@ja.tum.de.</a> </p></div>

            <button class="col1button"><p>Learn More</p></button>
            
            
            
        </div>
        <div class="col col2 row">
          <h2> How to use <span style="color: #2C7DA0;">elecCalc</span></h2>
          <div><h2>step by step.</h2></div>  
          <div class="sep"><h3><b>[this paragraph explains what steps one can take]</b></h3></div>
          <div class="sep"><p>[find out yourself which option is more sustainable]</p></div>
          </div>
    </div>

    <div id="outsider">

      <div class="CContainer">   
  
        <div id="button-left" onclick="scrollLft()">
          <image src="../static/media/home/left.svg"></image>
        </div>
        <div id="button-right" onclick="scrollRight()">
          <image src="../static/media//home/right.svg"></image>
        </div>
  
        <div class="C1">
    
          <div class="title">Step 1</div>
          <div class="subtitle">Log in or sign up <a class="subtitle" href="admin" style="color: #2C7DA0;">here.</a></div>
          <div class="note">[This is currently under construction and the user system does not yet work. You can go ahead and skip this step.]</a></div>
          <div class="note">Log in if you already have an account or sign up <a class="" href="admin"><b>here.</b></a></div>
          <button onclick="location.href='admin'" class="sep transp"><image src="../static/media/home/login.svg"></image></button>
   
        </div>
  
        <div class="C2">
   
            <div class="title">Step 2</div>
            <div class="subtitle">Choose your university*</div>
            <div class="note">Note that our calculator is still in an early version and for now can only give reliable data for the Technical University of Munich (TUM).</div>
  
        </div>
  
        <div class="C2">
  
          <div class="title">Step 3</div>
          <div class="subtitle">Pick the basic parameters for the calculation</div>
          <div class="note">In this step, you can enter the number of students attending the lecture, the lecture duration, the faculty* and lecture hall*, as well as information regarding the</div>
          </div>
  
        <div class="C2">
  
          <div class="title">Step 4</div>
          <div class="subtitle">Select your sampling mode and additional outputs.</div>
          <div class="note">Here you can choose between simple or advanced mcmc sampling methods. There is also the option to include further additional parameters such as living situation, type of devices used etc.</div>
  
  
        </div>
  
        <div class="C2">
   
          <div class="title">Step 5</div>
          <div class="subtitle">Decide which option you want to test</div>
          <div class="note">In this final step, you can choose which test option you want to calculate. Here you can select among offline, online streaming, online video-on-demand (VoD), hybrid streaming and hybrid video-on-demand options.</div>
  
        </div>
  
        <div class="history-block C3">
  
          <div class="title">Results</div>
          <div class="subtitle">Check out your final results.</div>
          <div class="note">elecCalc calculates the energy consumption of your lecture according to the given parameters and gives a recommendation about the optimal lecture mode in your case. Now you can make an informed decision. Do you want to learn more on how we calculate the best option?</div>
      
        </div>
       
      </div>   
    </div>
    



  <div class="OContainer">
    <div><h1 style="padding-top: 4rem;">These are the parameters that</h1> <h1 style="margin-bottom: -4rem;">go into the calculation.</h1>   </div>
  
  <div class="inline">
    <div class="paramcard redLeftMargin">
      <image src="../static/media/home/bike.svg"></image>
      <div class="text"><p>mobility</p></div>
    </div>
    <div class="paramcard redLeftMargin">
      <image src="../static/media/home/elecHouse.svg"></image>
      <div class="text"><p>household energy consumption</p></div>
    </div>
    <div class="paramcard redLeftMargin">
      <image src="../static/media/home/lecture.svg"></image>
      <div class="text"><p>lecture halls</p></div>
    </div>
    <div class="paramcard redLeftMargin">
      <image src="../static/media/home/streaming.svg"></image>
      <div class="text"><p>streaming platforms</p></div>
    </div>
    <div class="paramcard redLeftMargin">
      <image src="../static/media/home/devices.svg"></image>
      <div class="text"><p>devices</p></div>
    </div>
  </div>
  </div>

  <div class="EContainer">

  </div>
 
       
        {% endblock %}
            <div class="wrapper">
              
                <div class="cookie-content">
                  <p>This website uses cookies to ensure you get the best experience.</p>
                  <div class="buttons">
                    <button class="item">I understand</button>
                    <a href="privacy" class="item">Learn more</a>
                  </div>
                </div>
              </div>

              <script>
                const cookieBox = document.querySelector(".wrapper"),
                acceptBtn = cookieBox.querySelector("button");
                acceptBtn.onclick = ()=>{
                  document.cookie = "Cookie; max-age="+60*60*24*30;
                  if(document.cookie){
                    cookieBox.classList.add("hide"); 
                  }else{ 
                    alert("Cookie can't be set! Please unblock this site from the cookie setting of your browser.");
                  }
                }
                let checkCookie = document.cookie.indexOf("Cookie");
                checkCookie != -1 ? cookieBox.classList.add("hide") : cookieBox.classList.remove("hide"); 

                const outsider = document.getElementById('outsider');
                const distance = 500;

                function scrollLft() {
                  outsider.scrollBy({
                    left: -distance,
                    behavior: 'smooth'
                  });
                }

                function scrollRight() {
                  outsider.scrollBy({
                    left: distance,
                    behavior: 'smooth'
                  });
                }

              </script>

   
    <footer>
      <div class="bottommenu">
        <a href="/"><image src="../static/media/home/eleclogo.svg" ></image></a>

      </div>
      <div class="footerline"></div>
      <div class="bottommenu">
        <div class="sep">Legal Notice</div>
        <a href="rechtshinweise">German</a><span> |</span>
        <a href="legalnotice"> English</a>
        <div class="sep">Privacy Policy</div>
        <a href="datenschutz">German</a><span> |</span>
        <a href="privacy">English</a>
        <div class="sep">
        &copy; 2022 | ElecTUM
      </div>
        
    </footer>
</body>


</html>




