{% extends 'home.html' %}

{% block content %}

<div class="PContainer" id="english">
    <h1>Legal Notice</h1>
    <h2>Publisher:</h2>
    <p>Technical University of Munich</p>
    <p>Arcisstraße 21</p>
    <p>80333 München</p>
    <p>Phone: +4989289-01 </p>
    <h2>Legal Status and Representation:</h2>    
    <p>The Technical University of Munich is a corporation under public law and a state institution (Art. 11(1) of the Bavarian Higher Education Act – BayHSchG). Its legal representative is Prof. Dr. Thomas F. Hofmann. </p>
    <h2>Supervisory authority:</h2>
    <p>Bavarian State Ministry of Science and the Arts,</p>
    <p>Salvatorstraße 2, </p>
    <p>80333 München</p>
    <p>Germany</p>
    <h2>VAT Identification Number:</h2>
    <p>DE811193231 (in accordance with § 27a of the German VAT tax act – UStG)</p>
    <h2>Responsible for content:</h2>
    <p>TUM: Junge Akademie</p>
    <p>Team elecTUM</p>
    <p>Arcisstrasse. 21</p>
    <p>80333 München</p>
    <p>Germany</p>
    <p>Mail: climate(at)ja.tum.de</p>
    <h2>Conception and technical realization:</h2>
    <p>For the realization of <a href="https://www.ja.tum.de/climate/" target="_blank">our website</a> the Team elecTUM (Year 2021) of TUM: Junge Akademie is responsible. The technical realization is done with Nginx, by using Django, hosted on a server provided by the LRZ.
    </p>
    <h2>Terms of use:</h2>
    <p>Texts, images, graphics, as well as the design of these internet pages, may be subject to copyright.</p>
    <p>The following works are not protected by copyright in accordance with § 5 of the German Copyright Act (UrhG):</p>
    <ul>
        <p>●	acts, statutory instruments, official decrees and official notices, as well as decisions and official head notes of decisions;</p>
        <p>●	other official texts published in the official interest for general information purposes, subject to the proviso that the provisions concerning the prohibition of alteration and the indication of sources in § 62(1) to (3) and § 63(1) and (2) apply accordingly.</p>
    </ul> 
    <p>Private persons may use copyrighted material for private and other personal use in accordance with § 53 of the German Copyright Act (UrhG). Reproduction or use of copyrighted material from these pages, in whole or in part, in other electronic or print media and their publication is not permitted without explicit consent. Upon request, consent will be given by the entity responsible for the content. Reprint and use of press releases and speeches is, as a rule, permitted provided their source is acknowledged.</p>
    <p>Further, texts, images, graphics, and other files may, in whole or in part, be subject to third- party copyright. The entity responsible for the content will provide more detailed information on third-party rights, if any.</p>
    <h2>Liability disclaimer:</h2>
    <p>The information provided on this website has been collected and verified to the best of our knowledge and belief. However, there will be no warranty that the information provided is up to date, correct, complete, and available. There is no contractual relationship with users of this website.</p>
    <p>We accept no liability for any loss or damage caused by using this website. The exclusion of liability does not apply where the provisions of the German Civil Code (BGB) on liability in case of breach of official duty are applicable (§ 839 of the BGB). We accept no liability for any loss or damage caused by malware when accessing or downloading data or the installation or use of software from this website.</p>
    <p>Where necessary in individual cases: the exclusion of liability does not apply to information governed by the Directive 2006/123/EC of the European Parliament and of the Council. This information is guaranteed to be accurate and up to date.</p>
    <p>Social Media: Despite careful control of the content, we accept no liability for the content of external links and third-party comments on any TUM or CreaThesis social media channels. Operators of linked websites bear sole responsibility for their content.</p>
    <h2>Links:</h2>
    <p>Our own content is to be distinguished from cross-references (“links”) to websites of other providers. These links only provide access for using third-party content in accordance with § 8 of the German telemedia act (TMG). Prior to providing links to other websites, we review third-party content for potential civil or criminal liability. However, a continuous review of third-party content for changes is not possible and therefore we cannot accept any responsibility. For illegal, incorrect, or incomplete content, including any damage arising from the use or non-use of third-party information, liability rests solely with the provider of the website.</p>
  </div>

  {% endblock %}