{% extends 'home.html' %}

{% block content %}

<div class="PContainer" id="german">
    <h1>Rechtshinweise</h1>
    <h2>Anschrift:</h2>
    <p>Technische Universität München</p>
    <p>Arcisstraße 21</p>
    <p>80333 München</p>
    <p>Telefon: +4989289-01 </p>
    <h2>Vertretungsberechtigt:</h2>    
    <p>Die Technische Universität München wird gesetzlich vertreten durch den Präsidenten Prof. Dr. Thomas F. Hofmann. </p>
    <p>Die Technische Universität München ist gemäß Art. 11 Abs. 1 S. 1 BayHSchG eine Körperschaft des öffentlichen Rechts mit dem Recht der Selbstverwaltung im Rahmen der Gesetze und zugleich gemäß Art. 1 Abs. 2 Satz 1 Nr. 1 BayHSchG staatliche Hochschule (staatliche Einrichtung). Die Technische Universität München nimmt eigene Angelegenheiten als Körperschaft (Körperschaftsangelegenheiten) unter der Rechtsaufsicht der Aufsichtsbehörde, staatliche Angelegenheiten als staatliche Einrichtung wahr (Art. 12 Abs. 1 BayHSchG).</p>
    <h2>Zuständige Aufsichtsbehörde:</h2>
    <p>Bayerisches Staatsministerium für Wissenschaft und Kunst, Salvatorstraße 2, 80333 München. </p>
    <h2>Umsatzsteueridentifikationsnummer:</h2>
    <p>DE811193231 (gemäß § 27a Umsatzsteuergesetz) </p>
    <h2>Inhaltlich verantwortlich:</h2>
    <p>TUM: Junge Akademie</p>
    <p>Team elecTUM</p>
    <p>Arcisstraße 21</p>
    <p>80333 München</p>
    <p>E-Mail: electum(at)ja.tum.de</p>
    <h2>Konzeption und technische Umsetzung:</h2>
    <p>Für die Realisierung von <a href="https://www.ja.tum.de/climate/" target="_blank">unsere Website</a> sorgt das Team elecTUM (Jahrgang 2021) der TUM: Junge Akademie. Die technische Umsetzung erfolgt mit Nginx unter Verwendung von Django, gehostet auf einem Server des LRZ.</p>
    <h2>Nutzungsbedingungen:</h2>
    <p>Texte, Bilder, Grafiken sowie die Gestaltung dieser Internetseiten können dem Urheberrecht unterliegen.
        Nicht urheberrechtlich geschützt sind nach § 5 des Urheberrechtsgesetz (UrhG)
    </p>
  
        <p>●   Gesetze, Verordnungen, amtliche Erlasse und Bekanntmachungen sowie Entscheidungen und amtlich verfasste Leitsätze zu Entscheidungen und</p>
        <p>●   andere amtliche Werke, die im amtlichen Interesse zur allgemeinen Kenntnisnahme veröffentlicht worden sind, mit der Einschränkung, dass die Bestimmungen über Änderungsverbot und Quellenangabe in § 62 Abs. 1 bis 3 und § 63 Abs. 1 und 2 UrhG entsprechend anzuwenden sind.</p>
  
    <p>Als Privatperson dürfen Sie urheberrechtlich geschütztes Material zum privaten und sonstigen eigenen Gebrauch im Rahmen des § 53 UrhG verwenden. Eine Vervielfältigung oder Verwendung urheberrechtlich geschützten Materials dieser Seiten oder Teilen davon in anderen elektronischen oder gedruckten Publikationen und deren Veröffentlichung ist nur mit unserer Einwilligung gestattet. Diese Einwilligung erteilen auf Anfrage die für den Inhalt Verantwortlichen. Der Nachdruck und die Auswertung von Pressemitteilungen und Reden sind mit Quellenangabe allgemein gestattet.</p>
    <p>Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter unterliegen. Auch über das Bestehen möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen nähere Auskünfte.</p>
    <h2>Haftungsausschluss:</h2>
    <p>Alle auf dieser Internetseite bereitgestellten Informationen haben wir nach bestem Wissen und Gewissen erarbeitet und geprüft. Eine Gewähr für die jederzeitige Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der bereit gestellten Informationen können wir allerdings nicht übernehmen. Ein Vertragsverhältnis mit den Nutzern des Internetangebots kommt nicht zustande.</p>
    <p>Wir haften nicht für Schäden, die durch die Nutzung dieses Internetangebots entstehen. Dieser Haftungsausschluss gilt nicht, soweit die Vorschriften des § 839 BGB (Haftung bei Amtspflichtverletzung) einschlägig sind. Für etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch Schadsoftware oder der Installation oder Nutzung von Software verursacht werden, übernehmen wir keine Haftung. </p>
    <p>Falls im Einzelfall erforderlich: Der Haftungsausschluss gilt nicht für Informationen, die in den Anwendungsbereich der Europäischen Dienstleistungsrichtlinie (Richtlinie 2006/123/EG – DLRL) fallen. Für diese Informationen wird die Richtigkeit und Aktualität gewährleistet.</p>
    <p>Social Media: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links und Kommentare von Dritten auf allen Social-Media-Kanälen der TUM und von elecTUM. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiberinnen und Betreiber verantwortlich.</p>
    <h2>Links:</h2>
    <p>Von unseren eigenen Inhalten sind Querverweise („Links“) auf die Webseiten anderer Anbieter zu unterscheiden. Durch diese Links ermöglichen wir lediglich den Zugang zur Nutzung fremder Inhalte nach § 8 Telemediengesetz. Bei der erstmaligen Verknüpfung mit diesen Internetangeboten haben wir diese fremden Inhalte daraufhin überprüft, ob durch sie eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird. Wir können diese fremden Inhalte aber nicht ständig auf Veränderungen überprüfen und daher auch keine Verantwortung dafür übernehmen. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung von Informationen Dritter entstehen, haftet allein der jeweilige Anbieter der Seite.</p>
  </div>

  {% endblock %}
