{% extends 'home.html' %}

{% block content %}


    <div class="team">
   <div class="Container">
     <h1>Our team.</h1>
     <h2>We are team elecTUM – a research group of 8 students from 7 different courses and 4 nationalities! </h2>
   </div>
 </div>
 <div class="tContainer">
   
        <h1>
            Who are we?
        </h1>
        <h2>
            As part of the scholarship program “TUM: Junge Akademie” of the Technical  University of Munich, our project started in 2020, amidst the Covid-19 pandemic. Unsatisfied with online teaching formats at the time and curious about how their carbon footprint compared to onsite formats, we decided to investigate the energy consumption of lectures at TUM.  
        </h2>
        <h2>
            We are specifically interested in finding out what hybrid format between online and on-site lectures maximizes the energy efficiency of university teaching, and how our institution can reduce its impact on the planet in this disruptive situation.
        </h2>

</div>

<div class="tContainer">
   
    <h1>
        Meet our members.
    </h1>
    <h2>
        No robots here, just people who who want to contribute to a better world.
    </h2>


      <div class="inline">
        <div class="teamcard">
          <image src="../static/media/team/1.svg"></image>
          <div class="text">Alexander Holas</div>
          <div class="text">Astrophysics</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/2.svg"></image>
            <div class="text">Catherine Yngaunis Koch</div>
            <div class="text">Chemical Engineering</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/3.svg"></image>
            <div class="text">Leonard Schmitt</div>
            <div class="text">Medicine</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/4.svg"></image>
            <div class="text">Joachim Leibold</div>
            <div class="text">Physics</div>
        </div>
      </div>

      <div class="inline">
        <div class="teamcard">
          <image src="../static/media/team/5.svg"></image>
          <div class="text">Maroua el Asri</div>
          <div class="text">Life Sciences</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/6.svg"></image>
            <div class="text">Tim Schlachta</div>
            <div class="text">Chemistry</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/7.svg"></image>
            <div class="text">Alesia Prendi</div>
            <div class="text">Architecture</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/8.svg"></image>
            <div class="text">Sophia Schmid</div>
            <div class="text">Political Sciences</div>
        </div>
      </div>

      <div class="tContainer">
   
        <h1>
            Our tutors.
        </h1>

        <div class="inline">
            <div class="profcard">
              <div class="text">Maryam Tatari</div>
              <image src="../static/media/team/mail.svg"></image>
            </div>
            <div class="profcard">
                <div class="text">Sebastian Zäpfel</div>
            <image src="../static/media/team/mail.svg"></image>
            </div>
          </div>
    
      </div>

      <div class="tContainer">
   
        <h1>
            Our supervisors.
        </h1>

        <div class="inline">
            <div class="profcard">
              <div class="text">Prof. Dr. Peter Annighöfer</div>
            <image src="../static/media/team/mail.svg"></image>
            </div>
            <div class="profcard">
                <div class="text">Prof. Dr. Sara Diana Leonhardt</div>
            <image src="../static/media/team/mail.svg"></image>
            </div>
          </div>

      </div>
    

</div>
       

{% endblock %}