{% extends 'home.html' %}

{% block content %}


<div class="team">
  <div class="Container">
    <div style="margin-bottom: 4rem;"><h1 >Our team.</h1></div>
    <h3>We are team elecTUM – a research group of 7 students</h3>
    <h3>from 6 different courses and 3 nationalities!</h3>
   </div>
 </div>
 <div class="tContainer">
   
        <h1>
            Who are we?
        </h1>
        <div class="sep">
          <h3>
            As part of the scholarship program “TUM: Junge Akademie” of the Technical  University of Munich, our project started in 2020, amidst the Covid-19 pandemic. Unsatisfied with online teaching formats at the time and curious about how their carbon footprint compared to onsite formats, we decided to investigate the energy consumption of lectures at TUM.  
        </h3>
        </div>
        
        <h3>
            We are specifically interested in finding out what hybrid format between online and on-site lectures maximizes the energy efficiency of university teaching, and how our institution can reduce its impact on the planet in this disruptive situation.
        </h3>

</div>

<div class="tContainer">
   
    <h1>
        Meet our members.
    </h1>
    <h3>
        No robots here, just people who who want to contribute to a better world.
    </h3>


      <div class="inline">
        <div class="teamcard">
          <image src="../static/media/team/1.svg"></image>
          <div class="text" style="color: black;"><p><b>Alexander Holas</b></p></div>
          <div class="text">Astrophysics</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/2.svg"></image>
            <div class="text" style="color: black;"><p><b>Catherine Yngaunis Koch</b></p></div>
            <div class="text">Chemical Engineering</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/3.svg"></image>
          <div class="text" style="color: black;"><p><b>Leonard Schmitt</b></p></div>
            <div class="text">Medicine</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/4.svg"></image>
          <div class="text" style="color: black;"><p><b>Joachim Leibold</b></p></div>
            <div class="text">Physics</div>
        </div>
      </div>

      <div class="inline">
        <div class="teamcard">
            <image src="../static/media/team/5.svg"></image>
          <div class="text" style="color: black;"><p><b>Tim Schlachta</b></p></div>
            <div class="text">Chemistry</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/6.svg"></image>
          <div class="text" style="color: black;"><p><b>Alesia Prendi</b></p></div>
            <div class="text">Architecture</div>
        </div>
        <div class="teamcard">
            <image src="../static/media/team/7.svg"></image>
          <div class="text" style="color: black;"><p><b>Sophia Schmid</b></p></div>
            <div class="text">Political Sciences</div>
        </div>
      </div>

      <div class="tContainer" style="margin-top: 8rem">
   
        <h1>
            Our tutors.
        </h1>

        <div class="inline" >
            <div class="profcard">
              <div class="text" style="color: black;"><p><b>Maryam Tatari</b></p></div>
              <image class="sep" src="../static/media/team/mail.svg"></image>
            </div>
            <div class="profcard">
              <div class="text" style="color: black;"><p><b>Sebastian Zäpfel</b></p></div>
              <image class="sep" src="../static/media/team/mail.svg"></image>
            </div>
          </div>
    
      </div>

      <div class="tContainer">
   
        <h1>
            Our Supervisors.
        </h1>

        <div class="inline">
            <div class="profcard">
              <div class="text" style="color: black;"><p><b>Prof. Dr. Peter Annighöfer</b></p></div>
              <image class="sep" src="../static/media/team/mail.svg"></image>
            </div>
            <div class="profcard" style="margin-bottom: 8rem;">
              <div class="text" style="color: black;"><p><b>Prof. Dr. Sara Diana Leonhardt</b></p></div>
              <image class="sep" src="../static/media/team/mail.svg"></image>
            </div>
          </div>

      </div>
    

</div>
       

{% endblock %}
