#calculate .Container {
  background: transparent;
  width: 100%;
  height: 700px;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 8rem;
  margin-bottom: 10rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  }
  #calculate .Container2 {
    background: transparent;
    width: 100%;
    height: 700px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 8rem;
    margin-bottom: 34rem;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}  
#calculate .Container3 {
  background: transparent;
  width: 100%;
  height: 700px;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 8rem;
  margin-bottom: 48rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}  
#calculate .Card {
  background: #FFFFFF;
  border: 0.1px solid rgba(118, 117, 117, 0.5);
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  width: 100%;
  height: 100%;

  margin-top: 4rem;
  padding: 4%;

}
#calculate .Card2 {
  background: #FFFFFF;
  border: 0.1px solid rgba(118, 117, 117, 0.5);
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  width: 100%;
  height: 950px;

  margin-top: 4rem;
  padding: 4%;

}
#calculate .Card3 {
  background: #FFFFFF;
  border: 0.1px solid rgba(118, 117, 117, 0.5);
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  width: 100%;
  height: 1000px;

  margin-top: 4rem;
  padding: 4%;

}
#calculate .Card4 {
  background: #FFFFFF;
  border: 0.1px solid rgba(118, 117, 117, 0.5);
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  width: 100%;
  height: 630px;

  margin-top: 4rem;
  padding: 4%;

}
#calculate h2 {
  font-size: 3rem;
}
select {
  width: 100%;

  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 15px;

  padding: 3%;
}
.submit {
  width: 100%;

  background: #CB997E;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 15px;

  padding: 3%;
}
.input {
width: 100%;

background: white;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 15px;

padding: 3%;
}
.Cinline {
display: inline-flex;

text-align: center;
height: auto;
width: 100%;
}

.anyselection {
font-family: Outfit;
font-style: normal;
font-weight: 300;

display: block;
width: 96%;
margin-top: 2%;
margin-bottom: 2%;
margin-right: 2%;
padding: 3%;
height: auto;
text-align: center;
align-content: center;

background: #F5F5F5;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 15px;

}

input[type=radio], input[type=checkbox] {
display:none;
}

input[type=radio] + label {

font-family: Outfit;
font-style: normal;
font-weight: 300;
width: 100%;

margin: 2%;

line-height: normal;
padding: 3%;
padding-top: 2rem;
padding-bottom: 2rem;

background: #F5F5F5;
border: 2px solid #C4C4C4;
box-sizing: border-box;
border-radius: 15px;

font-family: Outfit;
font-style: normal;
font-weight: 500;


font-size: 14px;
color: #2C7DA0 ;
text-align: center;
vertical-align: middle;
cursor: pointer;

}
input[type=checkbox] + label {

font-family: Outfit;
font-style: normal;
font-weight: 300;

margin-top: 2%;
margin-bottom: 2% ;
padding: 0% 20% 0% 20%;

line-height: normal;

background: #F5F5F5;
font-size: 14px;
color: #333;
text-align: left;
vertical-align: middle;
cursor: pointer;
}

input[type=radio]:checked + label{
text-decoration: overline;
text-decoration-thickness: 0.5rem;
}

input[type=checkbox]:checked + label{
text-decoration: overline;
text-decoration-thickness: 0.5rem;
text-decoration-style: round;
}

