.PContainer {
    background: transparent;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 15rem;
    margin-bottom: 10rem;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    max-width: 1400px;

}