@font-face {
  font-family: 'Outfit';
  src: url('fonts/Outfit-VariableFont_wght.ttf') format('truetype') ;
}
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
html{background:#353535;}
::selection{
  color: white;
  background: #A9BA88;
}
main{
  background-image: url(../media/mobile/home_main.webp);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 1025px;
  margin: 0 auto;
  overflow: hidden;
  color: #F5F5F5;

}
main .Container {
  padding-top: 44rem;
  text-align: center;
}
a {
  text-decoration: none;
  color: #AFAFAF;
  background-color: transparent;
  font-size: 1.0rem;
  font-weight: 300;
}
a:hover {
  text-shadow: 0px 0px 10px #FFFFFF;
  transition: all .2s ease-in-out;
}
.active {
  color: white;
}
.header {
  display: none;
} 
.sidebar {
  justify-content: space-between;
  display: flex;
  position: fixed;
}
h1 {
  font-size: 2.2rem;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
}
.OContainer h1 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  
  color: white;
}
h2 {
  font-size: 2.2rem;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
}
h3 {
  font-size: 1.4rem;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
}
/* --------------------------------------Columns */
.col{
  height:100%;
  padding-top:2rem;

  margin-bottom: 2rem;
  display: fixed;
  align-items: center;
  background: #fafafa;

}
.col1{ 
  float: left;
  width: 100%;
  height: 20rem;
  background: transparent;
  text-align: left;

  margin-right: 1rem;
}
.col2{ 
  float: left;
  width: 100%;
  height: 20rem;
  background: transparent;
  text-align: left;

  margin-left: 0rem;
  margin-top: 10rem;
}
.col1button {
  margin-top: 4rem ;
  background: #DDBEA9;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;

  width: 150px;
  height: 50px;

  color: white;
}
.login:hover, .calculate:hover, .col1button:hover {
  transform: scale(.98);
  transition: all .2s ease-in-out;
}
#outsider {
  height: 800px;
  width: 100%;
  padding-top: 0rem;

  overflow-y: none;
  overflow-x: scroll;
  white-space: nowrap;
}
@keyframes timeline {
  0% {
    right: 0px;
  }
  100% {
    right: 1000px;
  }
}
#outsider:hover {
  animation-play-state: paused;
}
.C1{ 
  padding: 1%;

  margin-left: -8rem;

  display: block;

  text-align: left;

  white-space: initial;

  width: 320px;
  height: 450px;

  background-color: white;
  border: none;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

}
.transp {
  background: transparent;
  border: none;
  cursor: pointer;
}
.C2{ 

  padding: 1%;


  display: block;

  margin-left: 2rem;

  text-align: left;
  white-space: initial;

  width: 320px;
  height: 450px;

  background-color: white;
  border: none;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

}
.C3{ 
  padding: 1%;

  float: left;

  margin-left: 2rem;

  margin-right: 4rem;

  text-align: left;

  white-space: initial;

  width: 320px;
  height: 450px;

  background-color: white;
  border: none;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

}
.title {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;

  margin-bottom: 2rem;
  
  color: #CB997E;
}
.subtitle {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;

  margin-bottom: 2rem;

  color: #353535;
}
.note {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;

  color: #353535;
}
#button-left, #button-right{
  display: none;
}
/* asas */
.Container {
  background: transparent;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 5rem;
  margin-bottom: 30rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.Subcontainer {
  width: 100%;
  background: transparent;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 30rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.OContainer {

  background: #DDBEA9;
  width: 100%;
  height: 30rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-top: 30rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
}
.CContainer {
  background: transparent;
  padding-right: 1rem;
  padding-left: 10rem;
  padding-top: 10rem;
  margin-right: auto;
  margin-left: auto;

  display: inline-flex;
  
  align-items: center;
}
.EContainer {
  background: transparent;
  width: 100%;
  height: 5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 2rem;
  margin-bottom: 15rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.tContainer {
  background: transparent;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 5rem;
  margin-bottom: 10rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.Container2 {
  background: transparent;
  width: 100%;
  height: fit-content;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 8rem;
  margin-bottom: 10rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}  
.Container3 {
  background: transparent;
  width: 100%;
  height: 700px;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 8rem;
  margin-bottom: 44rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}  
/* --------------------------------------Icon Cards */
.inline {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 10rem;

  text-align: center;

  width: 100%;

  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.paramcard {
  min-width: 16rem;
  max-height: auto;

  display: block;

  padding: 2%;

  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.inline .text {
  padding-top: 2rem;
  font-family: 'Outfit';
  font-style: normal;
  align-items: center;

  color: #9D9D9C;
}
.redLeftMargin {
  margin-left: 1rem;
}
.sidebar {
  background: #1B1C17;
  height: 80px;
  width: 100%;
  padding: 0 4rem 0 2rem; 

  align-items: center;
  font-family: 'Outfit';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
  background: #2F302B;
  z-index: 999;

  padding-right: 10%;
  padding-left: 10%;
}
.sidebarMenuInner{
  margin-top: 2rem;
  padding:0;

}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
li a{
  color: #AFAFAF;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  cursor: pointer;
  height: 25px;
  width: 30px;
  position: absolute;
  background: transparent;
  top: 1.5rem;
  right: 1rem;
}
.sidebarIconToggleH {
  transition: all 0.3s;
  cursor: pointer;
  height: 25px;
  width: 30px;
  position: absolute;
  background: transparent;
  top: 1.7rem;
  margin-left: -1rem;
  

}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 30px;
  border-radius: 5px; 
  background-color: white;

}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 8px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 8px;
}
.sidebar input[type=checkbox] + label {
  background: transparent;
  font-family: 'Outfit';
    font-style: normal;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0% 0% 0% 0%;
    text-align: left;
    vertical-align: auto;
}
input[type=checkbox]:checked ~ .sidebarIconToggleH > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggleH > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 11px;
}
input[type=checkbox]:checked ~ .sidebarIconToggleH > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -13px;
}
#loginMenu {
  height: auto;
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateX(+100%);
  transition: transform 300ms ease-in-out;
  background: rgba(27, 28, 23, 0.9);;
  align-items: center;
  align-content: center;

  padding-right: 10%;
  padding-left: 10%;
}
.loginMenuInner{
  margin:0;
  padding:0;

}
.loginMenuInner li{
  list-style: none;
  color: #fff;
  font-weight: bold;
  padding: 25px;
  cursor: pointer;
}
.loginMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.loginMenuInner li a{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #loginMenu {
  transform: translateX(0);
}

.login {
  width: 10rem;
  height: 3rem;
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
  color: #F5F5F5;
  background: #18A0FB;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;

  margin-right: 1.0rem;

  font-size: 1rem;
  cursor: pointer;
}
footer{
  width: 100%;
  height: auto;
  background: black; 
  color: #F5F5F5; 
  display: block;

  align-items: center;

  padding: 2em 5rem;  
}
.footermenu {
  display: inline-flex;
  width: 50%;
  text-align: center;
  align-items: flex-start;

}
.footerline {
  border: 1px solid #494949;
  text-align: center;
  align-items: center;

  margin-top: 2rem;

  height: 0px;
  width: 100%
}
.bottommenu {
  text-align: center;
  margin-top: 2rem;

}
.calculate {
  width: 10rem;
  height: 3rem;
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
  color: black;
  background: #A9BA88;

  color: #F5F5F5;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;


  font-size: 1rem;
  cursor: pointer;
}
.header .logo {
  margin-top: 2.5rem;
}
footer .logo {
  margin-bottom: -1rem;
}
.header .item {
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}
.itemf {
  margin-left: 14rem;
}
body {
  font-family: 'Outfit';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F5F5;
  font-weight: 400;
}
.sep {
  margin-top: 2rem;
}

/* -----------------------------------------Consent */
.wrapper{
  bottom: 0%;
  position: fixed;
  display: flex;
  width: 100%;
  height: 14rem;
  background: #494949;
  padding: 2%;
  box-shadow: 0px 2px 2px #000000;
  text-align: center;
  align-items: center;
  z-index: 999;
}
.wrapper.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
}
.cookie-content{
  text-align: center;
  width: 100%;
}
.cookie-content p{
  color: #fafafa;
  margin: 5px 0 20px 0;
}
.cookie-content .buttons{

  align-items: center;
  justify-content: center;
}
.buttons button{
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background: #00CE9D;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons button:hover{
  transform: scale(0.98);
  transition: all .2s ease-in-out;
}
.buttons .item{
  margin: 0 10px;
}
.buttons a{
  color: #00CE9D;
}
/* --------------------------------------Cards */

/* -----------------------------------------Media */
@media (max-width: 540px) {
  .Container, .Subcontainer, .elecContainer, .PContainer, .tContainer, .Container2, .Container3 {
    max-width: 328px;
}
}
@media (min-width: 540px) {
  
  .Container, .Subcontainer, .elecContainer, .PContainer, .tContainer, .Container2, .Container3 {
      max-width: 520px;
}
}
@media (min-width: 768px) {
  .Container, .Subcontainer, .elecContainer, .PContainer, .tContainer, .Container2, .Container3 {
    max-width: 720px;
  }
  .header {
    height: 80px;
    width: 100%;
    background: #1B1C17; 
    color: white; 
    z-index: 10;
    padding: 0 4rem 0 2rem; 
    align-items: center;
    font-family: 'Outfit';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
  
    justify-content: space-between;
    display: flex;
    position: fixed;
  }
  .leftmenu {
    display: inline-flex;
    align-items: center;
  }
  main{
    display: block;
    background-image: url(../media/mobile/home_main_tablet.webp);
  
    width: 100%;
    height: 1025px;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar {
    display: none;
  }
  .home h1 {
    padding-bottom: 3rem;
  }
  ul,
  li,
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.0rem;
    font-weight: 300;
  }
  h1 {
    font-size: 4.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 3.2rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 300;
  }
  h4 {
    font-size: 1.6rem;
    color: #00CE9D;
  }
  h5,
  h6 {
    font-size: 100%;
    font-weight: normal;
  }
  .Container {
    background: transparent;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 5rem;
    margin-bottom: 30rem;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }
  .Subcontainer {
    width: 100%;
    background: transparent;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 30rem;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }
  .OContainer {
  
    background: #DDBEA9;
    width: 100%;
    height: 30rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-top: 30rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    text-align: center;
  }
  .CContainer {
    background: transparent;
    padding-right: 1rem;
    padding-left: 10rem;
    padding-top: 10rem;
    margin-right: auto;
    margin-left: auto;
  
    display: inline-flex;
    
    align-items: center;
  }
  .EContainer {
    background: transparent;
    width: 100%;
    height: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 2rem;
    margin-bottom: 15rem;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }
  .tContainer {
    background: transparent;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 5rem;
    margin-bottom: 10rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .Container2 {
    background: transparent;
    width: 100%;
    height: fit-content;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 8rem;
    margin-bottom: 10rem;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }  
  .Container3 {
    background: transparent;
    width: 100%;
    height: 700px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 8rem;
    margin-bottom: 44rem;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }  
  /* --------------------------------------Columns */
  .col2{ 
    margin-top: 14rem;
  
  }
  #outsider {
    height: 950px;
    width: 100%;
  
    overflow-y: none;
    overflow-x: scroll;
    white-space: nowrap;
  }
  @keyframes timeline {
    0% {
      right: 0px;
    }
    100% {
      right: 1000px;
    }
  }
  .C1{ 
    padding: 1%;
  
    margin-left: 2rem;
  
    display: block;
  
    text-align: left;
  
    white-space: initial;
  
    width: 500px;
    height: 600px;
  
    background-color: white;
    border: none;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  
  }
  .transp {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .C2{ 
  
    padding: 1%;
  
  
    display: block;
  
    margin-left: 5rem;
  
    text-align: left;
    white-space: initial;
  
    width: 500px;
    height: 600px;
  
    background-color: white;
    border: none;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  
  }
  .C3{ 
    padding: 1%;
  
    float: left;
  
    margin-left: 5rem;
  
    margin-right: 5rem;
  
    text-align: left;
  
    white-space: initial;
  
    width: 500px;
    height: 600px;
  
    background-color: white;
    border: none;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  
  }
  .title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
  
    margin-bottom: 4rem;
    
    color: #CB997E;
  }
  .OContainer h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
  
    
    color: white;
  }
  .subtitle {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
  
    margin-bottom: 4rem;
  
    color: #353535;
  }
  .note {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
  
    color: #353535;
  }
  /* --------------------------------------Icon Cards */
  
  .ProjectWrapper {
      margin-top: -5rem;
  }
  .inline {
    margin-top: 8rem;
  }
}
@media (min-width: 992px) {
  .Container, .Subcontainer, .elecContainer, .PContainer, .tContainer, .Container2, .Container3 {
      max-width: 960px;
  }
  main{
    display: block;
    background-image: url(../media/home/body-background.webp);
  
    width: 100%;
    height: 1025px;
    margin-left: auto;
    margin-right: auto;
  }
  /* --------------------------------------Columns */
  .inline {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 6rem;
  
    text-align: center;
  
    width: 100%;
  
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .paramcard {
    max-width: 16rem;
    width: 12rem;
    max-height: 16rem;
  
    display: block;
  
    padding: 1%;
  
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    text-align: center;
  
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .inline .text {
    padding-top: 3rem;
    font-family: 'Outfit';
    font-style: normal;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    
    color: #9D9D9C;
  }
  #outsider {
    padding-top: 4rem;
    overflow-x: hidden;
  }  
  #button-left,
  #button-right {
    position: absolute;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 5;
    color: black;
    height: 100vh;
    max-height: 500px;
    width: 50px;
    background-color: transparent;
    opacity: 0.5;
  }
  #button-left {
    margin-top: -2rem;
    left: 2rem;
  }
  #button-right {
    right: 2rem;
    margin-top: -2rem;
  }
  #button-right:hover {
    cursor: pointer;
    opacity: 1;
    transition: all .2s ease-in-out;
  }
  #button-left:hover {
    cursor: pointer;
    opacity: 1;
    transition: all .2s ease-in-out;
  }
}
@media (min-width: 1200px) {
  .Container, .Subcontainer, .elecContainer, .PContainer, .tContainer, .Container2, .Container3, .Container4, .Container5 {
      max-width: 1400px;
  }
  .inline {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 6rem;
  
    text-align: center;
  
    width: 100%;
  
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
  }
  .col{
    height:100%;
    padding-top:2rem;
  
    margin-bottom: 2rem;
    display: fixed;
    align-items: center;
    background: #fafafa;
  
  }
  .col1{ 
    float: left;
    width: 48%;
    height: 20rem;
    background: transparent;
    text-align: left;
  
    margin-right: 1rem;
  
  }
  .col1 .item {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .col2{ 
    float: left;
    width: 40%;
    height: 20rem;
    background: transparent;
    text-align: left;
  
    margin-left: 6rem;
    margin-top: 0rem;
  
  }
  
  /* --------------------------------------Container */



/* graphics = blue text
links = changing color
spacing between each button in elecCalc 

<div class="wrapper">
              
                <div class="cookie-content">
                  <p>This website uses cookies to ensure you get the best experience.</p>
                  <div class="buttons">
                    <button class="item">I understand</button>
                    <a href="privacy" class="item">Learn more</a>
                  </div>
                </div>
              </div>
*/
}
@media (min-width: 700rem) {
  .inline {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 6rem;
  
    text-align: center;
  
    width: 100%;
  
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
  }
}